.form-field {
  margin-bottom: 10px;
}

label {
  display: block;
  padding: 5px 0;
  font-size: 16px;
}

input, textarea, select {
  padding: 10px 10px;
  border: 1px solid #000;
  min-width: 350px;
  font-family: inherit;
  font-size: 16px;
}

button, .button-primary {
  padding: 10px 20px;
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  font-family: inherit;
  font-size: 14px;
  letter-spacing: .5px;
  font-weight: 400;
  text-decoration: none;
}

button:not(:disabled):hover,
.button-primary:not(:disabled):hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .9);
  color: #fff;
}

button:not(:disabled):active, 
.button-primary:not(:disabled):active {
  background-color: rgba(0, 0, 0, 1);
}

.button-text {
  background: transparent;
  color: rgba(0,0,0,.75);
  font-size: 14px;
  border: 0;
  cursor: pointer;
  padding: 5px;
  font-family: inherit;
}

.button-text:not(:disabled):hover {
  cursor: pointer;
  color: rgba(0,0,0,.85);
  text-decoration: underline;
  background-color: transparent;
}