* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html, body {
    display: block;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  .container-all-items-login{
    height: 400px !important;
    margin: auto auto;
    background-color: aqua;
    padding: 30px;
     
    width:20%;  
    border-radius: 2px;  
    margin: 120px auto;  
  }
  .conectare-title{
    font-weight: 200;
    letter-spacing: 1.4px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;;
  }

input[type="email"] {
  background-color: white;
  color: navy;
  border: 2px solid gray;
  padding: 13px;
  width: 100%;
  height: 30px;
}
input[type="email"]:hover{
  border: #000;
}

input[type="password"] {
  background-color: white;
  color: navy;
  border: 2px solid gray;
  padding: 13px;
  width: 100%;
  height: 30px;
}
input[type="password"]:hover{
  border: #000;
}

  .autentificare-buton{
  font-weight:bold;
  font-size:16px;
  width: 100%;
  display: flex;
  justify-content: center;;
  height: 39px;
  padding: auto;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  
}
.autentificare-buton:hover{
  transition: 0.4s;
  color:white;
  background-color: #1f1e1eec;
  cursor: pointer;
}
.termeni-si-conditii{
  display: flex;
}

.conditions{
  font-size: 14px;
  letter-spacing: 0.4;
  text-decoration: none;
  display: flex;
}
input[type="checkbox"]{
  display: flex;
  align-items: start;
  margin:0 auto;
}