* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  html, body {
    display: block;
  }
  
  body {
    margin: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 16px;
  }
  .container-all-items-login{
    height: 640px !important;
    width: 640px;;
    margin: auto auto;
    background-color: aqua;
    align-items: center;
    justify-content: center;
  }
  .conectare-title{
    font-weight: 700;
  }