:root {
  --header-height: 80px;
  --breadcrumb-height: 40px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.header {
  height: var(--header-height);
  width: 100%;
  background-color: #fff;
  color: #000;
  align-content: center;
  box-shadow: 0 1px 3px #0000002e;
  position: relative;
  z-index: 10;
  position: sticky;
  top: 0;
  opacity: .98;
  display: flex;
  padding: 10px 80px;

  /* display: grid;
  grid-template-columns: auto auto; */
}

.header-content { 
  flex: 1;
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.header-menu a {
  display: block;
  margin-right: 10px;
  font-size: 13px;
  letter-spacing: .2px;
  text-decoration: none;
  color: rgba(0,0,0,.85);
}

.header-menu a:hover {
  color: rgba(0,0,0,1);
  text-decoration: underline;
}

.header-logo {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
  color: #000;
  text-decoration: none;
  flex: 1;
}

.header-link {
  display: flex;
  justify-content: end;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 0 10px;
  font-size: 13px;
  letter-spacing: .4px;
}

.header-link i {
  margin-right: 5px;
  font-size: 18px;
}

.header-link svg {
  margin-right: 5px;
  width: 23px;
}

.header-link:hover {
  text-decoration: underline;
}


.product-card-container {
  /* background-color: aquamarine; */
  padding: 10px;
  width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto auto auto;
}

.product-card {
  /* background-color: lightblue; */
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.4px;
  position: relative;
}

.product-card-image {
  overflow: hidden;
}

.product-card-image img {
  height: 320px;
}

.product-card-image:hover img {
  transition: transform .4s;
  transform: scale(1.1);
}

.product-card-brand {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin: 5px 0;
}

.product-card-name {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 11px;
}

.product-card-price {
  font-size: 14px;
  font-weight: 300px;
}

/*
Note: This is working because
.product-cart has position: relative
*/
.product-card-label {
  border: 1px solid black;
  padding: 4px 6px;
  font-size: 11px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 9;
}

a {
  color: inherit;
}

.alert {
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, .1);
  font-size: 14px;
}

table {
  width: 100%;
  border-spacing: 0;
}


td, th {
  border: 0px;
  padding: 10px 5px;
  font-size: 14px;
  text-align: left;
}

td {
  border-top: 1px solid rgba(0,0,0,.1);
}
