* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.header {
  height: 60px;
  width: 100%;
  background-color: #fff;
  color: #000;
  padding: 10px 80px;
  align-content: center;
  box-shadow: 0 1px 3px #0000002e;

  display: grid;
  grid-template-columns: auto auto  ;
}
.navigation{
  height: 60px;
  width: 100%;
  border:none;
  background-color: #fff;
  color: #000;
  padding: 10px 80px;
  align-content: center;
  box-shadow: 0 1px 3px #0000002e;
  align-content: center;
  display: grid;
  grid-template-columns: auto auto auto auto;
  
}
.navigation-buttons{
  padding: 10px;
  margin: auto auto;
  text-align: center;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.4px;
  letter-spacing: 0.5px;
}
.navigation-buttons {
  overflow: hidden;
}
.navigation-buttons:hover{
  
  cursor: pointer;
  letter-spacing: 0.6px;
  text-decoration: underline;
  color: black;
}


.header-logo {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 26px;
}

.header-cart {
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-cart i {
  margin-right: 5px;
  font-size: 20px;
}


.product-card-container {
  /* background-color: aquamarine; */
  padding: 10px;
  width: 1000px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto auto auto;
}

.product-card {
  /* background-color: lightblue; */
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.4px;
}

.product-card-image {
  overflow: hidden;
}

.product-card-image img {
  height: 320px;
}

.product-card-image:hover img {
  transition: transform .4s;
  transform: scale(1.2);
}

.product-card-brand {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin: 5px 0;
}

.product-card-name {
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 11px;
}

.product-card-price {
  font-size: 14px;
  font-weight: 300;
}

/* some aditionals */

.container-all{
  
  padding: 10px;
  margin: 0 auto;
  width: 1000px;
}

.image-and-informations{
  height: 640px;
  display: flex;
}



.product-image{
  width: 640px;
  float: left;
}

.product-image img{
  height: 640px;
}

.product-informations{

  padding: 10px;
  width: 360px;
  padding-top:100px;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.4px;
  
}


.product-brand{
  display: flex;
  justify-content: start;
  text-transform: uppercase;
  text-align: center;
  font-weight: 200;
  font-size: 17px;
  margin-bottom:  20px;
  letter-spacing: 1px;
 
}
.product-name{
  display: flex;
  justify-content: start;
  text-transform: uppercase;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
  margin-bottom:  20px;
}

.product-pentru{
  display: flex;
  justify-content: start;
  
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin-bottom:  20px;
}

.product-cantitate-and-price{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 auto;
  margin-top: 40px;
}
.product-cantitate{
  display: flex;
  justify-content: start;
  align-items: center;;
  text-align: center;
  font-size: 17px;
  font-weight: 300;
  
}

.product-price{
  display: flex;
  justify-content: end;

  text-align: center;
  font-size: 35px;
  font-weight: 700;
  
  
}
.add-to-shopping-cart{
  font-weight:bold;
  font-size:23px;
  display: flex;
  justify-content: center;;
  height: 55px;
  padding: auto;
  align-items: center;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  margin-top:100px;
}
.add-to-shopping-cart:hover{
  transition: 0.4s;
  color:white;
  background-color: #1f1e1eec;
  cursor: pointer;
}
.descriere-titlu{
  font-size:27px;
  font-weight: 300;
  letter-spacing: 0.4;
  

}
.product-description{
  margin-top: 10px;
  text-align: left;
}

.line{
  size: 2px;
  color: #000;
}